{{> head}}
{{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>RED SOX</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non animi error saepe, fugit labore eum nihil provident? Error odit, accusamus atque beatae porro, voluptatum assumenda sapiente iure quos natus temporibus!
            </p>
        </div>

        <div class="col-4">
            <img src="/assets/img/redsox.png" class="img-thumbnail">
        </div>
    </div>
{{> footer}}
